$dark: #0a1f38ff;
$dark-middle: #1b2f46ff;
$dark-light: #2f4056ff;
$gray: #9da5afff;
$green-dark: #819400ff;
$green-middle: #97ab0dff;
$green: #a5bb0cff;
$green-light: #b1c909ff;
$white: #ffffffff;
$service-error: #ff7461;
