// Main colors
$surface-black: #15191f;
$surface-white: #fff;
$surface-gray: #8e8e8e;
$surface-accent: #632f80;
$surface-accent-dark-s: #4f2b6d;

// Text colors
$text-primary: #000;
$text-primary-inverted: #fff;
$text-secondary: #8e8e8e;
// Service colors
$service-error: #ff0000;
